* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
/* ===== HEADER ===== */
header {
    background-color: #8FA8D8;
    padding: 10px 30px;
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* ===== NAVBAR ===== */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}
.nav-menu{
    flex:1;
    align-items: center;
    display:flex;
    align-items:center;
}

/* ===== LOGO ===== */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
  height: 70px;
  width: auto;
  vertical-align: middle;
}

/* ===== LINKS ===== */
.nav-links {
    flex: 1;
    justify-content: center;
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: #E68A2E;
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

/* ===== BOTONES ===== */
.navbar_actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn-get-started,
.btn-sign-up {
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    border-radius: 999px;
    transition: 0.3s;
}

/* Iniciar Sesión */
.btn-get-started {
    background-color: #E68A2E;
    color: white;
    padding: 12px 22px;
}

/* Registrarse */
.btn-sign-up {
    background-color: #1F3B6D;
    color: white;
    padding: 12px 22px;
}

.btn-get-started:hover,
.btn-sign-up:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}

html {
    scroll-behavior: smooth;
}   

/* Botón hamburguesa oculto en escritorio */
.hamburguesa {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburguesa .material-icons {
    color: white;
    font-size: 32px;
}

@media (max-width: 780px) {

    .hamburguesa {
        display: block;
        margin-left: auto;
    }

    .nav-menu {
        display: none;
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        background-color: #8FA8D8;
        padding: 20px 0;
        z-index: 1000;
    }

    .nav-menu.show {
        display: block;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .navbar_actions {
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 8px
    }
}

@media (max-width: 480px) {
    .btn-get-started,
    .btn-sign-up {
        padding: 7px 14px;
        font-size: 13.5px;
    }

    .navbar_actions {
        gap: 6px;
    }
}
