.about-us{
    padding: 50px;
}

.fila_nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-bottom: 50px;
}

.contenedor_imagen img{
    width: 350px;
    height: 220px;
    object-fit: cover;
    border-radius: 25px;
}

.contenedor_texto{
    width: 400px;
}

.contenedor_texto h2{
    color: #27466b;
    margin-bottom: 15px;
    font-size: 40px;
}

.contenedor_texto p{
    text-align: justify;
    font-size: 18px;
}
.titulo_objetivo{
    color: #27466b;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 122px;
}

.caja_objetivos{
    background-color: #FFE0B2;
    border-radius: 25px;
    padding: 25px 40px;
    margin: 20px;
    width: 800px;
    margin-left: 120px;
}

.caja_objetivos ul{
    margin: 0;
    padding-left: 20px;
}

.caja_objetivos li{
    font-size: 18px;
    margin-bottom: 5px;
}